@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #182334;
  /*color: aliceblue;*/
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  text-align: center;
}

/* .wave1 {
  background-image: url('./assets/Wave.svg');
  background-size: cover;
} */

.background-props { 
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.ppf{
  width: 30%;
  margin-top: 9%;
  margin-left: 5%;
}

.intro-name {
  position: absolute;
  height: 315px;
  left: 33.96%;
  right: 26.94%;
  top: calc(50% - 315px/2 - 161.5px);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 150px;

  color: #191C24;
}

.z-ind-1 {
  z-index: -1;
}

.mtop-5 {
  margin-top: 5%;
}

.App-logo {
  pointer-events: none;
  /* height: 35vmin; */
  width: 30%;
  pointer-events: none;
  margin-top: 8%;
  margin-left: 6%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  /* from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
}

.wave-container {
  position: relative;
  width: 100%;
  /*z-index: auto;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wave-prop {
  position: absolute;
  /* top: 5rem; */
  z-index: -1;
  left: 0;
  width: 200%;
  animation: wave linear 15s infinite;
}

.wave-prop-bottom {
  position: absolute;
  top: -12rem;
  width: 100%;
  bottom: 42rem;
  animation: wave linear 15s infinite;
}

.wave-prop-bottom-2 {
  position: absolute;
  left: 0;
  z-index: 1;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.social-items-flex-container{
  flex-direction: row;
  justify-content: space-evenly;
}

.socials{
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 78%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-icons-left {
  resize: horizontal;
  overflow: hidden;
  width: 20%;
  height: auto;
  padding: 1rem;
}

.social-icons-right {
  resize: horizontal;
  overflow: hidden;
  padding: 1rem;
}

.item-1 {
  order: 1;
}

.item-2 {
  order: 2
}

.item-3 {
  order: 3;
}

.item-4 {
  order: 4;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  /*height: 30px;*/
  /*width: 100vw;*/
  background: #20303f;
}

.vertical-center {
  width: 100%;
  height: auto;
  margin-top: 10%;
  /*margin-left: 5%;*/
}

